.footer {
  @apply w-[90%]  mx-auto border-dashed border-t-[3px] md:border-solid py-4;
}
.container {
  @apply flex flex-col justify-between w-full md:flex-row md:pl-6;
}
.info {
  @apply flex w-full gap-4 justify-evenly md:w-1/2;
}
.info div {
  @apply flex flex-col gap-2;
}
.info div p {
  @apply text-[22px] font-bold md:text-[24px] mb-3;
}
.info div span {
  @apply text-[16px] text-muted-foreground md:text-[18px];
}
.details {
  @apply flex items-center w-full my-4 justify-evenly md:justify-between md:flex-col-reverse md:w-1/2;
}
.logo {
  @apply flex flex-col items-center md:w-full md:items-end justify-evenly;
}
.logo p {
  @apply text-[14px] flex;
}
.mark {
  @apply flex flex-wrap w-1/3 gap-3 md:w-full justify-evenly;
}
.mark img {
  @apply w-[38px] md:w-[74px];
}
.end {
  @apply w-[95%] mx-auto md:mx-0 md:w-full flex items-center justify-center text-[12px] md:text-[15px] pt-3 border-t-2 mt-4;
}
